
  p.number{color:black;
  text-align:left;
  font-size:25pt;
  font-family:"Bookman";
}

body{
  background-color: #B5D2DA ;
}
img{
    border-radius:10%;

  }
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
