

.header a{color:black;
text-align: center;
font-size:30pt;
font-family:"Roboto";
}

p.number{color:black;
background-color: white;
text-align:center;
line-height: normal;
font-size:25pt;
font-family:"Roboto";}

p.view{color:black;
text-decoration: underline;
text-align:center;
font-size:25pt;
font-family:"Roboto";}


h5{ color:black;
margin:20px;
text-align:left;
font-size:25pt;
line-height: 30px;
font-family:"Roboto";}

h6{color:black;
margin:20px;
text-align:center;
font-size:25pt;
line-height: 30px;
font-family:"Roboto";}

.href a{color:black;
text-align:center;
font-size:25pt;
font-family:"Roboto";}

img {
    border-radius:50%;
}
.wonders{
  text-align:center;
  display: table;
  margin: px;
  line-height: 30px;
}

body{
  background-color:#ABCBD6;
}
