p.number {color:black;
    border-radius:10%;
    padding: 20px;
    width: 200px;
    height: 150px;
    text-align:left;
    font-size:25pt;
    font-family:"Times New Romans";
    }
    
    body{
      background-color:#D6D6D6;
    }
    
    img{
        border-radius:10%;
      }
