p.number {color:black;
    text-align:left;
    font-size:25pt;
    font-family:"Times New Romans";
    }
    
    body{
      background-color:#D6D6D6;
    }
    
    img{
        border-radius:10%;
      }
