hr{color:black;}

h2{color:black;
  margin:12pt;
  text-align:left;
  font-size:20pt;
  font-family:"Times New Roman";}

h5{color:black;
  margin:20pt;
  text-align:left;
  font-size:40pt;
  line-height: 50pt;
  font-family:"Times New Roman";}

  .patient {
  color:black;
  margin:20pt;
  text-align:Center;
  font-size:40pt;
  line-height: 50pt;
  font-family:"Times New Roman";
  }

  img{
    padding: 60px;
    border-radius: 60%;
  }

  body{ 
  }
