
  p.number{color:black;
  text-align:left;
  line-height: normal;
  font-size:25pt;
  font-family:"Times New Romans";
}

body{
  background-color: #4F6F6B  ;
}
img{
    border-radius:10%;

  }
